#dependencies
node_modules
.env


# async-handler - to eliminate the use of try/catch blocks
# mongodb account - user: exprezzcard, password:WA2oB1t2cNUxAT4e

#loginAuthentication - user: loginAuth password: loginAUTH